:root {
  --font-sans: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-bebas: 'Bebas Neue', Arial, Helvetica, sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #ffb548;
  --color-black-75: rgba(0, 0, 0, 0.75);
  --color-dark: #1a1917;
  --color-woodsmoke: #080a0b;
  --color-red: #e93830;
}